<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="bg-white font-semibold text-black font-sans">
    <header class="p-5 flex justify-between items-center">
      <div class="text-2xl"><h1>Deals</h1></div>
      <h3 class="text-2xl">My Deals</h3>
      <h3 class="text-2xl">My Profile</h3>
    </header>
    <h3 class="text-2xl text-left p-5">All Deals:</h3>
    <div class="deals-container flex items-center justify-center mt-32">
      <ul class="space-y-3 flex space-x-3 p-4">
        <% dealsData.forEach((deal) => { %>
        <div
          class="flex justify-center flex-col items-center space-x-2 border-2 p-6 shadow-lg rounded-lg"
        >
          <li class=""><%= deal.title %></li>
          <li><%= deal.description %></li>
          <li><%= deal.url %></li>
          <li><%= likes %></li>
          <li><%= ratings %></li>
        </div>

        <% }); %>
      </ul>
    </div>
  </body>
</html>
