<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://kit.fontawesome.com/38b727e8a2.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/vendor/jquery-3.0.0.js"></script>
    <script src="/scripts/icons.js"></script>
  </head>

  <body class="bg-white font-semibold text-black font-sans max-w-6xl m-auto">
    <header class="p-5 flex justify-between items-center">
      <div class="text-2xl"><a href="/deals">Deals</a></div>
      <a href="/deals/saved" class="rounded-full bg-blue-300 px-3 py-1 shadow-lg"
        >My Deals</a
      >
      <div class="flex gap-10">
        <a href="/deals/newdeal"><i class="fa-solid fa-plus text-2xl"></i></a>
        <a href="/profile"><i class="fa-solid fa-user text-2xl"></i></a>
      </div>
    </header>
    <h3 class="text-2xl text-left p-5">All Deals:</h3>

    <div class="deals-container flex items-center justify-center mt-14">
      <div class="space-y-3 flex space-x-3 p-4 flex-wrap max-w-6xl">
        <% dealsData.forEach((deal) => { %>
        <article data-id="<%= deal.id %>">
          <ul
            class="flex justify-center flex-col items-center space-x-2 border-2 p-6 shadow-lg rounded-lg"
          >
            <li class="">
              <a href="/deals/<%= deal.id %>"> <%= deal.title %></a>
            </li>
            <li><%= deal.description %></li>
            <li><%= deal.url %></li>
            <li><%= deal.name %></li>
            <div class="flex gap-3 space-x-4">
              <li class="">
                <a href="/deals/like/<%= deal.id %>">
                  <i class="fa-regular fa-heart fa-beat-fade text-red-500"></i>
                </a>
                <%= deal.total_likes %>
              </li>
              <li>
                <a href="/deals/rate/1/deal/<%= deal.id %>"
                  ><i
                    class="fa-regular fa-star fa-beat space-x-4 hover:text-yellow-400 hover-rate"
                  ></i
                ></a>
                <a href="/deals/rate/2/deal/<%= deal.id %>"
                  ><i
                    class="fa-regular fa-star fa-beat space-x-4 hover:text-yellow-400 hover-rate"
                  ></i
                ></a>
                <a href="/deals/rate/3/deal/<%= deal.id %>"
                  ><i
                    class="fa-regular fa-star fa-beat space-x-4 hover:text-yellow-400 hover-rate"
                  ></i
                ></a>
                <a href="/deals/rate/4/deal/<%= deal.id %>"
                  ><i
                    class="fa-regular fa-star fa-beat space-x-4 hover:text-yellow-400 hover-rate"
                  ></i
                ></a>
                <a href="/deals/rate/5/deal/<%= deal.id %>"
                  ><i
                    class="fa-regular fa-star fa-beat space-x-4 hover:text-yellow-400 hover-rate"
                  ></i
                ></a>

                <!-- <i class="fa-solid fa-angle-up"></i> -->
                <%= deal.deal_rating !== null ?
                parseFloat(deal.deal_rating).toFixed(1) : 0 %>
              </li>
            </div>
          </ul>
        </article>

        <% }); %>
      </div>
    </div>
  </body>
</html>
