<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://kit.fontawesome.com/38b727e8a2.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/vendor/jquery-3.0.0.js"></script>
    <script src="/scripts/comments.js"></script>
  </head>

  <body class="bg-white font-semibold text-black font-sans max-w-6xl m-auto">
    <header class="p-5 flex justify-between items-center">
      <div class="text-2xl"><a href="/deals">Deals</a></div>
      <div class="flex gap-10">
        <a href="/deals/newdeal"><i class="fa-solid fa-plus text-2xl"></i></a>
        <a href=""><i class="fa-solid fa-user text-2xl"></i></a>
      </div>
    </header>
    <h3 class="text-2xl text-left p-5">All Deals:</h3>
    <div class="deals-container flex items-center justify-center mt-20">
      <div class="space-y-3 flex space-x-3 p-4">
        <article data-id="<%= deal.id %>">
          <ul
            class="flex justify-center flex-col items-center space-x-2 border-2 p-6 shadow-lg rounded-lg"
          >
            <li class=""><a href="/deals"> <%= deal.title %></a></li>
            <li><%= deal.description %></li>
            <li><%= deal.url %></li>
            <li><%= deal.name %></li>
            <div class="flex gap-3 space-x-4">
              <li class="">
                <i class="fa-regular fa-heart fa-beat-fade"></i> <%=
                deal.total_likes %>
              </li>
              <li>
                <i class="fa-regular fa-star fa-beat-fade space-x-4"></i><%=
                parseFloat(deal.deal_rating).toFixed(1) %>
              </li>
            </div>
          </ul>
        </article>
      </div>
    </div>
  </body>
</html>
